/*
    Copyright 2015-2019 Cédric Levieux, Parti Pirate

    This file is part of Fabrilia.

    Fabrilia is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Fabrilia is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Fabrilia.  If not, see <http://www.gnu.org/licenses/>.
*/

@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-r-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-r-webfont.woff') format('woff'),
         url('../fonts/ubuntu-r-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,body {
	height: 100%;
}

.theme-showcase {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -50px;
}

.navbar-bottom {
	margin-bottom: 0px;
	margin-top: 20px;
}

.panel-heading a:after {
	font-family: 'Glyphicons Halflings';
	content: "\e114";
	float: right;
	color: grey;
}

.panel-heading a.collapsed:after {
	content: "\e080";
}

.mailForm {
	display: none;
}

#loginForm {
	position: relative;
	z-index: 1000;
	width: 260px;
	margin-left: -260px;
	float: right;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.75);
	top: -60px;
	right: 10px;
	border-radius: 10px;
}

.otbHidden {
	display: none;
}

.color-inherit {
	color: inherit;
}

.vertical-middle {
	vertical-align: middle;
}

.lastDiv {
	min-height: 72px;
	height: 72px;
}

.authorColumn {
	width: 160px;
	max-width: 160px;
}

.dateColumn {
	width: 160px;
	max-width: 160px;
}

.validationColumn {
	width: 130px;
	max-width: 130px;
}

.actionColumn {
	width: 230px;
	max-width: 230px;
}

.padding-left-0 {
	padding-left: 0;
}

.margin-bottom-0 {
	margin-bottom: 0;
}

.labelForCheckbox {
	border: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.tweeter-count {
	background-color: transparent;
	color: #8899a6;
	display: inline-block;
	width: 35px;
	border: 0;
	padding: 0 3px;
	position: relative;
	vertical-align: top;
	text-align: right;
	font-size: 14px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
}

.number-of-tweets {
	cursor: pointer;
}

.tweet-content + sup {
    display: none;
}

.tweet-content:hover + sup {
    display: initial;
}

.tweet-row td textarea {
    width: 100%;
}

.account-panel .panel-heading {
	padding-top: 5px;
	font-size: 30px;
	text-align: center;
	height: 116px;
    background-clip: border-box;
    background-size: cover;
}

.account-panel .panel-heading span {
    background-color: rgba(245, 245, 245, 0.7);
}

/* Spin animation */
.spin {
     -webkit-transform-origin: 50% 50%;
     transform-origin:50% 50%;
     -ms-transform-origin:50% 50%; /* IE 9 */
     -webkit-animation: spin 1s infinite linear;
     -moz-animation: spin 1s infinite linear;
     -o-animation: spin 1s infinite linear;
     animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alert {
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 1000;
}

.btn-full-width {
	width: 100%;
}

.large-dialog .modal-dialog {
	margin: 0 auto;
	width: 90%;
}

tbody tr.selected-row {
	color: #fff;
    background: #337ab7;
}

.search-member-table tbody tr:hover {
    color: #000;
	background: #F5F5F5;
}


tbody tr.selected-row:hover {
    color: #fff;
    background: #286090;
}


nav.footer {
	margin-top: 20px;
	text-align: center;
	font-size: 12px;
	font-family: Ubuntu, Verdana, Geneva, sans-serif;
	color: black;
}

nav.logo {
	float: left;
}

.header {
	font-family: Ubuntu, Verdana, Geneva, sans-serif;
	text-align: center;
	text-shadow: lightgrey 3px 3px 3px;
}

a {
	color: inherit;
}

/*
h2, h3 {
	font-family: Ubuntu, Verdana, Geneva, sans-serif;
	text-shadow: lightgrey 3px 3px 3px;
}
*/

#agenda_point .objects .list-group-item {
    border-radius: 4px;
    margin: 2px;
    border-width: 1px;
}

#agenda_point .objects {
	max-height: 500px;
	overflow-y: scroll;
}

#right-panel {
    max-height: 585px;
    overflow-y: scroll;
}

.proposition ul li {
	display: inline-block;
	margin-right: 5px;
}

.proposition ul li .badge {
    margin-left: 2px;
}

.president select, .secretary select {
	display: inline-block;
	width: 98px;
    padding-left: 6px;
    padding-right: 6px;
}

input.input-xs {
    height: 20px;
    padding: 1px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.description-editor+div .Editor-editor {
	min-height: 200px;
}

span.highlight {
	background: yellow;
	text-shadow: white 1px 1px 1px;
	border: 1px grey dashed;
}

.hide-missing {
	display: none !important;
}

.hide-paged {
    display: none !important;
}

a.page {
    margin-left: 5px;
    margin-right: 5px;
}

a.page.active {
	font-weight: bold;
}

#calendar {
	margin-bottom: 15px;
}

#meeting-agenda li li {
	padding-right: 0px;
}

#meeting-rights label, .right-label {
	font-weight: normal;
}

a.agenda-link {
    display: inline-block;
    min-height: 22px;
}

#noticed-people h5 {
    display: inline-block;
    min-height: 19px;
}

#noticed-people ul ul h5 {
    display: inline-block;
    min-height: 0;
}

.secretary-reading {
	font-style: italic;
}

.form-alert {
	height: 34px;
    margin: 0;
    border-radius: 4px;
    padding: 7px 10px;	
}

.simply-hidden {
	display: none;
}

body {
/*
	background-image: url(../images/background_lightgrey.png);
    background-size: cover;
*/    
}

.watermark {
    position: absolute;
    top: 500px;
    left: -150px;
    z-index: -10;
    width: 50%;
    height: 0;
    overflow: hidden;
}

.watermark-inside {
	background-image: url(../images/logo_pp_voile.svg) !important; 
    background-repeat: no-repeat;
    opacity: 0.02;
    background-size: contain;
    height: 1000px;
}

.breadcrumb {
	background-color: rgba(245,245,245,0.55);
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

#panel-skills, #panel-help {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: calc((1920px - 1240px) / 2);
    max-width: calc((1920px - 1240px) / 2);
}

#panel-skills .panel-heading, #panel-help .panel-heading {
    border-top-left-radius: 0;
}

#panel-skills .panel-footer, #panel-help .panel-footer {
    border-bottom-left-radius: 0;
}


#panel-endorsments {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: calc((1920px - 1240px) / 2);
    max-width: calc((1920px - 1240px) / 2);
}

#panel-endorsments .panel-heading {
    border-top-right-radius: 0;
}

#panel-endorsments .panel-footer {
    border-bottom-right-radius: 0;
}

.btn-group-xxs>.btn, .btn-xxs {
    padding: 1px 3px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 3px;
}

.row-striped > .row:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.row-hover > .row:hover {
  background-color: #f5f5f5;
}

.btn-external {
  color: #fff;
  background-color: #5c97b8;
  border-color: #3e8f3e;
}

.btn-external:hover,
.btn-external:focus {
  color: #fff;
  background-color: #417796;
  background-position: 0 -15px;
}

body > div a {
	text-decoration: underline !important;
}

a.btn {
	text-decoration: none !important;
}

div, p ul, li, h1, h2, h3, h4, h5, h6, button, label {
	font-family: ubunturegular, ubuntu !important;
}
